<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="title-white">
						<h1>
							
							<span>SONU acadêmico</span>
						
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><%= link_to 'SONU acadêmico', academic_path%></li>
						<li class="active" ><%= link_to 'SONU Beta', beta_path %></li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	

		<div class="gb-about gb-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-info">
				            	<div class="speaker">
				            	<div class="speaker-title">
				                  <h2><%=%></h2>
				                  </br>
				                  <p>Aqueles que participaram da organização já sabem: as atividades da SONU duram o ano inteiro. Para muito além dos dias do evento, inúmeros encontros com o intuito de definir temas, produzir guias, treinar regras de procedimento e desenvolver situações de crise - além de incontáveis horas de estudo e preparação - espalham-se pelos meses que antecedem a SONU. 

A ideia de que essa intensa produção acadêmica recebesse maior atenção é bandeira antiga dentro do Secretariado da SONU. Na verdade, inúmeros artigos científicos e trabalhos acadêmicos foram produzidos por organizadores e participantes ao longo dos anos, ainda que a partir de iniciativas individuais. 

Assim, acreditando no potencial do projeto e com o intuito de fortalecer e diversificar cada vez mais as atividades deste, resolvemos avançar a proposta de oficializar a atividade acadêmica que já ocorre naturalmente no decorrer da preparação de nossa estimada simulação, além de fomentar o incremento dessa produção. 

Dessa iniciativa nasceu o SONU ACADÊMICO – construído por e para estudantes -, um espaço permanente de debate e construção de conhecimento acerca de inúmeros temas internacionais. 

Não há temática nem tipo textual (descritivo, argumentativo, expositivo, etc) pré-estabelecidos, todavia os trabalhos devem obrigatoriamente possuir relação com assuntos de relevância internacional , além de prezar pela norma culta da língua portuguesa. 

A produção será veiculada através do sítio eletrônico da SONU e qualquer pessoa ligada ao programa está convidada a submeter textos de não mais que 04 laudas, contando com as referências bibliográficas, devendo necessariamente obedecer às regras da ABNT. Estes serão submetidos à análise de uma Comissão Editorial formada por antigos e atuais organizadores da SONU, apenas com o intuito de assegurar o padrão de qualidade acadêmica almejado pelo projeto. Além disso, a Comissão está trabalhando junto às Coordenações de Atividades Complementares da UFC, e equivalentes em outras unidades, de modo a garantir créditos de Pesquisa para os autores dos trabalhos aprovados. 

As contribuições são inteiramente voluntárias e devem ser enviadas para o e-mail contato@sonu.com.br com o(s) nome(s) e especificações do(s) respectivo(s) autor(es).

Também como atividade do SONU ACADÊMICO, o Secretariado da SONU 2016 torna pública a chamada para a proposição de artigos científicos para a composição da publicação da 1ª edição da Revista SONU. <br>
<strong>Edital:</strong> https://goo.gl/HTlNk3<br>
<strong>Adititvo:</strong>https://goo.gl/2RWFa8</p>
<button class="btn button-red">Conheça os artigos!</button>
				       			</div>
				       			</div>
							</br>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.gb-about -->	

		