<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="page-title title-white">
						<h1>
							
							<span>Carta de apresentação</span>
						
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><a href="index.html">A SONU</a></li>
						<li class="active">Carta de apresentação</li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	

		<div class="gb-about gb-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="about-info">
							<h1>Sobre o Projeto</h1>
							<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing.</h2>
							<p>O Programa Simulação da Organização das Nações Unidas, veiculado à Pró-Reitoria de Extensão da Universidade Federal do Ceará (UFC) e realizado em parceria com a Universidade de Fortaleza (Unifor), é o primeiro modelo de simulação de organismos internacionais no estado do Ceará, sendo organizada por alunos bolsistas e voluntários de diversas instituições de Ensino Superior de Fortaleza, sob a orientação de docentes da UFC. 

Fundada em 2004, a SONU procura recriar todo o ambiente de organismos e tribunais internacionais, principalmente daqueles ligados ao sistema da Organização das Nações Unidas (ONU). Na simulação, os participantes atuam como diplomatas, ministros, juízes, promotores e defendem os interesses dos países ou das partes que representam. Para tornar a experiência ainda mais realista, também são simuladas agências de notícias internacionais, as quais realizam toda a cobertura jornalística das simulações realizadas.

 Para além das tradicionais simulações, a SONU também realiza modelos de organismos tradicionais em escolas públicas e particulares de Fortaleza e fornece palestras, minicursos, publicações, campanhas solidárias e outras iniciativas ligadas às relações internacionais através dos demais projetos integrantes do programa SONU: SONU Escolas e SONU Acadêmico. </p>
							<div class="buttons">
								<a href="#" class="btn button-red">Register Now</a>
								<a href="#" class="btn btn-default">Watch Video</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about-image">
							<img src="/images/sobresonu.jpg" alt="Image" class=" img-responsive">
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.gb-about -->	

		