<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="page-title title-white">
						<h1>
							
							<span>Carta de apresentação</span>
						
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><a href="index.html">A SONU</a></li>
						<li class="active">Carta de apresentação</li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	

		<div class="gb-about gb-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-info">
				               <% @crew_apresentations.each do |crew_apresentation| %>
				            
				                  <h1><%= crew_apresentation.title %></h1>
				                  </br>
				                  <p><%= crew_apresentation.description %></p>
				       
				               <% end %>

				 
							</br>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.gb-about -->	

		