<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
						<h1>
							<span>Contato</span>
						</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Contato</a></li>
						<li class="active">Parceiros</li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->		
		
		<div class="gb-contact-form gb-section">
			<div class="container">
				<form action="#" class="gb-form">
					<div class="row"> 
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" required="required" placeholder="Seu nome">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="email" class="form-control" required="required" placeholder="Seu e-maill">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" required="required" placeholder="Assunto">
							</div> 
						</div>  
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="message" class="form-control" required="required" rows="7" placeholder="Mensagem"></textarea>
							</div>             
						</div> 					  
					</div>
					<button type="submit" class="btn button-red pull-right"><span>Enviar Mensagem</span></button>
				</form>					
			</div><!-- /.container -->
		</div><!-- /.gb-contact-form -->		

		<div class="gb-contact text-center">
			<div id="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381778.25053409673!2d-38.691692528496176!3d-3.7336214633884484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74c3f464c783f%3A0x4661c60a0c6b37ca!2sFortaleza+-+CE!5e0!3m2!1spt-BR!2sbr!4v1502672161402" width="1300" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
			<div class="contact-info contact-address">
				<div class="event">
					<address>
						<p>Alguma dúvida, sugestão ou reclamação? 
						A SONU quer ouvir você!</p><br>
						<strong>Email: </strong><p><a href="#">sonu.extensao@gmail.com</a></p>
						<strong>Endereço: </strong>
						<p>Rua Meton de Alencar S/N
						<strong>Centro, Fortaleza-CE</strong>
						<address><p>Faculdade de Direito da UFC</p></address></p>
					</address>
				</div>
				<ul class="contact-social gb-list list-inline">
					<li><a class="icons" href="www.facebook.com/sonu.ufc"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                	<li><a class="icons" href="www.instagram.com/sonu_ufc"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                	<li><a class="icons" href="www.flickr.com/sonufotografia"><i class="fa fa-flickr" aria-hidden="true"></i></a>
				</ul>				
			</div>
		</div><!-- /.gb-contact -->	