<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
						<h1>
							<span>Contato</span>
						</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Contato</a></li>
						<li class="active">Parceiros</li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->		
		
		<div class="gb-contact-form gb-section">
			<div class="container">
				<form action="#" class="gb-form">
					<div class="row"> 
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" required="required" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="email" class="form-control" required="required" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" required="required" placeholder="Subject">
							</div> 
						</div>  
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="message" class="form-control" required="required" rows="7" placeholder="Your Message"></textarea>
							</div>             
						</div> 					  
					</div>
					<button type="submit" class="btn button-red pull-right"><span>Enviar Mensagem</span></button>
				</form>					
			</div><!-- /.container -->
		</div><!-- /.gb-contact-form -->		

		<div class="gb-contact text-center">
			<div id="gmap"></div>
			<div class="contact-info contact-address">
				<div class="event">
					<h2>SONU</h2>
					<address>
						<p>Alguma dúvida, sugestão ou reclamação? 
						A SONU quer ouvir você!</p><br>
						<strong>Email: </strong><p><a href="#">contato@sonu.com.br</a></p>
						<strong>Endereço: </strong>
						<p>Rua Meton de Alencar S/N
						<strong>Centro, Fortaleza-CE</strong></p>
					</address>
				</div>
				<ul class="contact-social gb-list list-inline">
					<li><a class="icons" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                	<li><a class="icons" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                	<li><a class="icons" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a>
				</ul>				
			</div>
		</div><!-- /.gb-contact -->	