
        <div class="gb-banner">
            <div class="banner-info text-center">
                <div class="container">
                    <h1>SONU XIII</h1>
                    <h2><span>27-29 june</span> Fortaleza, Brazil</h2>
                    <a href="#" class="btn button-white">Inscreva-se</a>
                    <ul class="countdown gb-list list-inline">
                        <li>                    
                            <span class="days">00</span>
                            <p>days</p>
                        </li>
                        <li>
                            <span class="hours">00</span>
                            <p>hours</p>
                        </li>
                        <li>
                            <span class="minutes">00</span>
                            <p>minutes</p>
                        </li>
                        <li>
                            <span class="seconds">00</span>
                            <p>seconds</p>
                        </li>               
                    </ul><!-- countdown -->                     
                </div><!-- /.container -->
            </div><!-- /.banner-info -->
        </div><!-- /.gb-banner -->
        
        <div class="upcoming-events gb-section text-center">
            <div class="container">
                
                    <h1 class="color-red">
                      
                         <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                       
                        <span>Notícias</span>
                
                            <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                        
                    </h1>
               
                <div class="event-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="event">
                                <div class="gb-time color-red">
                                    <p>27 <span>Jul</span></p>
                                </div>
                                <div class="event-info">
                                    <h2>Berlin, Germany</h2>
                                    <address><p>30217 new street road Berlin, Germany</p></address>
                                    <a href="#" class="btn btn-default">Get a Ticket</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="event">
                                <div class="gb-time color-red">
                                    <p>12 <span>Jul</span></p>
                                </div>
                                <h2>Munich, Germany</h2>
                                <address><p>30217 new street road Berlin, Germany</p></address>
                                <a href="#" class="btn btn-default">Get a Ticket</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="event">
                                <div class="gb-time color-red">
                                    <p>12 <span>Aug</span></p>
                                </div>
                                <h2>Hamburg, Germany</h2>
                                <address><p>30217 new street road Berlin, Germany</p></address>
                                <a href="#" class="btn btn-default">Get a Ticket</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="event">
                                <div class="gb-time color-red">
                                    <p>09 <span>Sep</span></p>
                                </div>
                                <h2>Cologne, Germany</h2>
                                <address><p>30217 new street road Berlin, Germany</p></address>
                                <a href="#" class="btn btn-default">Get a Ticket</a>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.upcoming-events -->
        
        <div class="gb-cta-1 gb-section gb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 white-color">
                        <h1>A SONU</h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
                        <div class="buttons">
                            <a href="#" class="btn button-white">Conheça</a>
                        </div>
                      </div>  
                    <div class="col-md-6">
                        <iframe width="555" height="359" src="https://www.youtube.com/embed/RTToBS0J8B0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.gb-cta-1 -->

        <div class="gb-brand gb-section gb-bg ">
            <div class="container">
                    <div class="title-partners">
                    <h1>
                        <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                        <span>Nossos Parceiros</span>
                        <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                    </h1>
                    </div>
                </div>
                <div class="brand-slider text-center">
                    <div class="brand">
                        <img src="images/brand/1.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/2.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/3.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/4.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/5.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/3.jpg" alt="Image" class="img-responsive">
                    </div>
                </div>              
            </div><!-- /.container -->
        </div><!-- /.gb-brand  -->
        
        <div class="gb-contact text-center">
            <div id="gmap"></div>
            <div class="contact-info">
                <div class="event">
                    <div class="gb-time color-red">
                        <p>12 <span>Jul</span></p>
                    </div>
                    <h2>Berlin, Germany</h2>
                    <address><p>30217 new street road Berlin, Germany</p></address>
                    <a href="#" class="btn btn-default">Get a Ticket</a>
                </div>
                <ul class="contact-social gb-list list-inline">
                    <li><a href="#"><img src="images/others/facebook.png" alt="Icon" class="img-responsive"></a></li>
                    <li><a href="#"><img src="images/others/youtube.png" alt="Icon" class="img-responsive"></a></li>
                    <li><a href="#"><img src="images/others/instagram.png" alt="Icon" class="img-responsive"></a></li>
                </ul>               
            </div>
        </div><!-- /.gb-contact -->
        
        <div class="gb-cta-2 gb-section text-center white-color gb-bg">
            <div class="container">
                <div class="title-partners white-title">
                    <h1>
    
                        <span>CADASTRE-SE NO NOSSO SITE</span>

                    </h1>
                </div>      
                <div class="cta-info">
                    <p>Cadastrando-se no site, você tem a vantagem de rapidamente se inscrever em algum evento da SONU, sem precisa elaborar todo o cadastro antes.</p>
                    <a href="#" class="btn btn-default">Cadastre-se</a>
                </div>
            </div><!-- /.container -->
        </div><!-- /.gb-cta-2 -->
        