<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crew_category_partner.name %>
</p>

<%= link_to 'Edit', edit_crew_category_partner_path(@crew_category_partner) %> |
<%= link_to 'Back', crew_category_partners_path %>
