<h1>Editing Crew_big_sonu_schedule</h1>

<%= render 'form', crew_big_sonu_schedule: @crew_big_sonu_schedule %>

<%= link_to 'Show', @crew_big_sonu_schedule %> |
<%= link_to 'Back', crew_big_sonu_schedules_path %>
