<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SONU ADMIN - 2017 - BY GTi Engenharia Jr">
        <meta name="author" content="Coderthemes">




        <title>SONU - Admin</title>


        <!-- App css -->
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag  'dashboard' %>
    </head>
          
          <%=yield%>

        <%= javascript_include_tag 'dashboard'%>

             



</html>
